body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 5px;
}

body p {
    margin: 15px;
}

body h1, h2 {
    text-align: center;
    margin-bottom: 10px;
}